/*******************************
	All Responsive Code
*******************************/


/* 

Breakpoint	    Class infix			Dimensions
X-Small	        None				<576px
Small			sm					≥576px
Medium			md					≥768px
Large			lg					≥992px
Extra 			large	xl			≥1200px
Extra 			extra large	xxl		≥1400px 

*/


/*Large screen*/
@media only screen and (min-width:1500px) {}

@media only screen and (max-width:1199px) {
	.banner_area {
		padding-bottom: 40px;
	}

	section.company_logo {
		padding: 70px 0px 40px;
	}

	section.services_area {
		margin: 0px 0px 100px;
	}
}

@media only screen and (max-width:1023px) {

	.off_canvas_menu {
		display: block;
		position: fixed;
		background: #06C167;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 50px;
		z-index: 3;
	}

	ul#mobile_menu li a {
		color: #fff;
		text-transform: capitalize;
		font-size: 17px;
		padding-bottom: 10px;
		display: block;
		border-bottom: 1px solid #fff;
		margin-bottom: 10px;
	}

	ul#mobile_menu {
		max-width: 200px;
	}

	#m_close {
		position: absolute;
		right: 50px;
		top: 50px;
		color: #fff;
		font-size: 20px;
		display: block;
	}

	#desktop_menu {
		display: none;
	}

	#m_menu {
		display: block;
		color: #06C167;
		font-size: 20px;
		border: 1px solid #06C167;
		padding: 10px;
		border-radius: 4px;
		transition: .3s;
	}

	#m_menu:hover {
		background: #06C167;
		color: #fff;
		border-color: #06C167;
	}


}

@media only screen and (min-width:1025px) and (max-width:1199px) {}

/* Tablet Layout width */
@media only screen and (min-width:992px) and (max-width:1024px) {
	.description_section {
		padding-top: 0;
	}

	.banner_left h2 {
		font-size: 62px;
		line-height: 72px;
	}

	h2 {
		font-size: 55px;
		line-height: 65px;
	}

	.section_title h2 {
		padding-bottom: 60px;
	}
}

/* tablet */
@media only screen and (min-width:768px) and (max-width:991px) {
	.banner_left h2 {
		font-size: 50px;
		line-height: 60px;
	}

	.banner_right {
		margin-bottom: 0px;
		padding-bottom: 50px;
	}

	section.company_logo {
		padding: 70px 0px;
	}


	.banner_right {
		margin-bottom: -140px;
	}

	section.company_logo {
		padding: 100px 0px 70px;
	}

	img.banner_dot {
		bottom: 50px;
		right: 115px;
	}

	.section_title h2 {
		padding-bottom: 70px;
	}

	img.section_dot {
		bottom: 28px;
		left: -15px;
	}

	.benefit_left {
		margin-right: 0px;
	}

	.promo_right {
		margin-left: 0px;
	}

	.benefit_left,
	.promo_right {
		text-align: center;
	}

	section.feature_area .description_section {
		padding-top: 0px;
	}

	section.popular_area .description_section {
		padding-top: 0px;
	}

	.footer_main {
		padding: 0px;
	}

	.widget_4 {
		padding-top: 30px;
	}

	.single_popular_item {
		margin-bottom: 30px;
	}

}

/* Mobile Layout col-md */
@media only screen and (max-width:767px) {
	section.company_logo {
		margin-top: 70px;
	}

	.section_title h2 {
		padding-bottom: 70px;
	}
}

/* common Mobile Layout for col =<575px */
@media only screen and (max-width:575px) {
	.banner_left h2 {
		font-size: 50px;
		line-height: 70px;
	}

	.banner_left p {
		max-width: 100%;
		text-align: center;
	}

	.site_btn a {
		display: block;
		text-align: center;
	}

	.banner_right {
		padding-left: 0px;
		text-align: center;
	}

	.banner_rating_box {
		bottom: 0;
		left: 50%;
		margin-left: -116px;
	}

	.banner_comment_box {
		bottom: 80px;
		right: 50%;
		margin-right: -115px;
	}

	section.services_area {
		margin: 0px 0px 60px;
	}

	.banner_left h2 {
		font-size: 50px;
		line-height: 60px;
		padding-bottom: 30px;
	}

	.benefit_left {
		margin-right: 0px;
		text-align: center;
	}

	h2 {
		font-size: 40px;
		line-height: 50px;
	}

	img.section_dot {
		bottom: 29px;
		left: -10px;
		width: 103px;
		height: auto;
	}

	.section_title h2 {
		padding-bottom: 50px;
	}

	.p_b_100 {
		padding-bottom: 70px;
	}

	.promo_right {
		margin-left: 0px;
		text-align: center;
	}

	.f_description h4 {
		font-size: 30px;
	}

	.popular_area .description_section {
		padding-top: 0px;
	}

	.f_description h4 {
		font-size: 20px;
		line-height: 1.2;
	}

	.site_btn.feature_btn a {
		background: #F3FCF7;
		color: #06C167;
		padding: 10px;
		font-size: 13px;
	}

	.single_feature {
		height: 238px;
	}

	span.btn_icon {
		display: none;
	}

	.rating_star i {
		font-size: 12px;
	}

	.single_popular_item h5 {
		font-size: 19px;
		padding-bottom: 10px;
	}

	.site_btn.popular_btn a {
		padding: 7px;
		border: 1px solid #06C167;
		font-size: 14px;
	}

	.cta_area {
		padding: 100px 0px;
	}

	.site_btn a {
		padding: 17px;
	}

	.footer_main {
		padding: 0px 0px;
		margin-bottom: -30px;
	}

	.w_common {
		padding-bottom: 30px;
	}

}


/* small scren*/
@media only screen and (max-width:339px) {}